<div class="login-container">
    <div class="container">
        <div class="login-form  p-2">
            <form (ngSubmit)="submit()" #myForm="ngForm">
                <h2 class="text-center mt-5">LOG IN</h2>
                <p class="text-center mb-5">Please login to your account!</p>

                <div *ngIf="email.invalid && email.touched" class="text-danger text-center">
                    Email field must be valid
                  </div>
                <div class="form-group ">
                    <input type="email" class="form-control" name="email"
                    #email="ngModel"
                    placeholder="Email" required="required" [(ngModel)]="form.email"
                    >
                </div>

                <div *ngIf="password.invalid && password.touched" class="text-danger text-center">
                    Password field must be valid
                  </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password" 
                    #password="ngModel"
                    required [(ngModel)]="form.password">
                </div>
                <div class="form-group">
                    <a class="text-muted" href="#!">Forgot password?</a>
                </div>
                
                <div class="form-group d-flex justify-content-center mt-5 mb-5">
                    <button type="submit" [disabled]="myForm.form.invalid" class="btn btn-primary btn-lg ">
                        <ng-container *ngIf="isLoading()">
                            Loading...
                        </ng-container>
                        <ng-container *ngIf="!isLoading()">
                            SUBMIT
                        </ng-container>
                        </button>
                </div>
            </form>
        </div>
    </div>
</div>

