<div class="about-container">
    <div class="container">
      <div class="nava">
          <h1 class="text-center">NAVA</h1>
      <p class="">
        A boat is a watercraft of a large range of types and sizes, but generally
        smaller than a ship, which is distinguished by its larger size, shape,
        cargo or passenger capacity, or its ability to carry boats. Small boats
        are typically found on inland waterways such as rivers and lakes, or in
        protected coastal areas. However, some boats, such as the whaleboat, were
        intended for use in an offshore environment. In modern naval terms, a boat
        is a vessel small enough to be carried aboard a ship. Boats vary in
        proportion and construction methods with their intended purpose, available
        materials, or local traditions. <br />
        <br />
        Canoes have been used since prehistoric times and remain in use throughout
        the world for transportation, fishing, and sport. Fishing boats vary
        widely in style partly to match local conditions. Pleasure craft used in
        recreational boating include ski boats, pontoon boats, and sailboats.
        House boats may be used for vacationing or long-term residence. Lighters
        are used to convey cargo to and from large ships unable to get close to
        shore. Lifeboats have rescue and safety functions. Boats can be propelled
        by manpower (e.g. rowboats and paddle boats), wind (e.g. sailboats), and
        inboard/outboard motors (including gasoline, diesel, and electric).
      </p>
      </div>
      <div class="history">
          <h1 class="text-center">HISTORY</h1>
      <p>
        After Homo erectus possibly used watercraft more than a million years ago
        to cross straits between landmasses, boats have served as transportation
        far into pre-historic times. Circumstantial evidence, such as the early
        settlement of Australia over 40,000 years ago, findings in Crete dated
        130,000 years ago and in Flores dated to 900,000 years ago, suggest that
        boats have been used since pre-historic times. The earliest boats are
        thought to have been dugouts, and the oldest boats found by archaeological
        excavation date from around 7,000 to 10,000 years ago. The oldest
        recovered boat in the world, the Pesse canoe, found in the Netherlands, is
        a dugout made from the hollowed tree trunk of a Pinus sylvestris that was
        constructed somewhere between 8200 and 7600 BC. <br />
        <br />
        This canoe is exhibited in the Drents Museum in Assen, Netherlands. Other
        very old dugout boats have also been recovered. Rafts have operated for at
        least 8,000 years. A 7,000-year-old seagoing reed boat has been found at
        site H3 in Kuwait. Boats were used between 4000 and 3000 BC in Sumer,
        where a 4000-year old boat has been excavated at Uruk, ancient Egypt, and
        in the Indian Ocean. Boats played an important role in the commerce
        between the Indus Valley civilization and Mesopotamia. Evidence of varying
        models of boats has also been discovered at various Indus Valley
        archaeological sites. Uru craft originate in Beypore, a village in south
        Calicut, Kerala, in southwestern India. This type of mammoth wooden ship
        was constructed solely of teak, with a transport capacity of 400 tonnes.
        The ancient Arabs and Greeks used such boats as trading vessels. The
        historians Herodotus, Pliny the Elder and Strabo record the use of boats
        for commerce, travel, and military purposes.
      </p>
      </div>
      <div class="types">
          <h1 class="text-center">TYPES</h1>
      <p>
        Boats can be categorised by their means of propulsion. These divide into:
        Unpowered. This involves drifting with the tide or a river current.
        Powered by the crew-members on board, using oars, paddles or a punting
        pole or quant. Powered by sail. Towed – either by humans or animals from a
        river or canal bank (or in very shallow water, by walking on the sea or
        river bed) or by another vessel. Powered by machinery, such as internal
        combustion engines, steam engines or by batteries and an electric motor. <br> <br>
        Any one vessel may use more than one of these methods at different times
        on in combination. A number of large vessels are usually referred
        to as boats. Submarines are a prime example. Other types of large
        vessels which are traditionally called boats include Great Lakes
        freighters, riverboats, and ferryboats. Though large enough to carry
        their own boats and heavy cargoes, these vessels are designed for
        operation on inland or protected coastal waters.
      </p>
      </div>
      
      
    </div>
  </div>
  