.detail-container {
    padding: 10rem 0 10rem 0;
  .container {
    img{
        width: 100%;
    }
    .btn{
        background-color: #19aa8d;
        color: white;
    }
    h1{
        color: #e7434e;
    }

    
  }
}
