<div class="navbar-container">
  <div class="container">
    <nav class="navbar navbar-dark navbar-expand-lg">
      <div class="container mt-3">
        <a class="navbar-brand" [routerLink]="['main']">
          <img src="{{ logo }}" alt="logo" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse d-flex" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link px-4" [routerLink]="['destinations']"
                >TOP DESTINATIONS</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link px-4" [routerLink]="['add-boat']"
                >ADD YOUR BOAT</a
              >
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <ng-container *ngIf="!isAuthenticated()">
                  <button class="dropbtn" [routerLink]="['signup']">
                    SIGN UP
                  </button>
                  <div class="dropdown-content">
                    <a [routerLink]="['login']" class="login">LOG IN</a>
                  </div>
                </ng-container>
                <ng-container *ngIf="isAuthenticated()">
                  <button class="log-out" (click)="logout()">
                    LOG OUT
                  </button>
                </ng-container>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
