<div class="add-boat">
    <div class="container">
      <h1 class="text-center mb-4">ADD YOUR BOAT</h1>
      <form>
        <div class="img-container mb-4">
          <p>upload photo</p>
          <input type="file">
        </div>
        <div class="info-container">
          <div class="row">
            <div class="col-md-12">
              <label for="name">Ship Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Delphia 47"
              />
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-6">
              <label for="city">City</label>
              <input
                type="text"
                class="form-control"
                id="city"
                placeholder="Portofino"
              />
            </div>
            <div class="col-md-6">
              <label for="country">Country</label>
              <input
                type="text"
                class="form-control"
                id="country"
                placeholder="Italy"
              />
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-8">
              <label for="price">Price / DAY</label>
              <input
                type="number"
                class="form-control"
                id="price"
                placeholder="123"
              />
            </div>
  
            <div class="col-md-4">
              <label for="quantity">Quantity</label>
              <input
                type="number"
                class="form-control"
                id="quantity"
                placeholder="1"
              />
            </div>
          </div>
        </div>
        <div class="btn-div d-flex justify-content-center">
          <button type="submit" class="btn">ADD</button>
        </div>
      </form>
    </div>
  </div>
  