<div class="img-background card-img-overlay">
    <img src="{{background}}" alt="background" width="100%">
  </div>
  
  <div class="main-container">
    <div class="text-center">
      <h1 class="text-white">RESERVE A BOAT NOW!</h1>
      <p class="text-white">AND SET YOUR SAILS INTO PARADISE!</p>
    </div>
  
    <div class="search-container w-100 m-auto">
      <div class="container d-flex">
        <input
          class="form-control w-75"
          type="search"
          placeholder="WHAT IS YOUR DESTINATION, SAILOR?"
          aria-label="Search"
        />
        <button class="btn w-25" type="submit">FIND A BOAT</button>
      </div>
    </div>
  
    <div class="data-container w-100">
      <div class="container bg-white">
        <div class="row text-center d-flex">
          <div class="col border-r">
            <h4 class="mt-3">7890</h4>
            <p>Destinations</p>
          </div>
          <div class="col border-r">
            <h4 class="mt-3">1M</h4>
            <p>Cities</p>
          </div>
          <div class="col border-r">
            <h4 class="mt-3">1509</h4>
            <p>Boats</p>
          </div>
          <div class="col margin-t">
            <h4 class="mt-3">5972</h4>
            <p>Sailors</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="explore-container">
    <div class="container mt-5">
       <div class="text-center">
        <h1>EXPLORE OUR TOP DESTINATIONS</h1>
        <p>There are some places to visit, see options to choose the boat.</p>
       </div>
    </div>
  </div>
  
  <div class="destination-container">
    <div class="container">
      <h1 class="text-center mb-5">TOP DESTINATIONS</h1>
      <div class="row">
        <!-- <div class="col-lg-8 mb-5" *ngFor="let Destination of Destinations; index as i; first as isFirst">
          <div class="card text-bg-dark">
              <img src="{{Destination.img}}" class="card-img" alt="...">
              <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
                <h3 class="card-text">{{i}}</h3>
                <p class="card-text">{{Destination.country}}</p>
              </div>
            </div>
        </div> -->
        <!-- <div class="col-lg-4 mb-5 text-white" *ngFor="let Destination of Destinations" [ngClass]="{'col-lg-8' : Destination.id == 1}" >
          <div class="card">
              <img src="{{Destination.img}}" class="card-img" alt="place-photo">
              <div class="card-img-overlay d-flex flex-column justify-content-between">
                  <div>
                      <button>
                  <img src="./assets/ship.png" alt="ship-icon" >
                  {{Destination.boats.length}}</button>
                  </div>
                <div>
                  <h3 class="card-text ">{{Destination.city}}</h3>
                <p class="card-text">{{Destination.country}}</p>
                </div>
                
              </div>
              
            </div>
        </div> -->
      </div>
    </div>
  </div>
  
  
  <div class="make-money w-100 mb-5">
      <img src="./assets/background-2.png" alt="" width="100%">
  
  </div>
  
  
  <div class="featured-container">
    <div class="container mt-5">
       <div class="text-center mb-5">
        <h1>FEATURED BOATS</h1>
        <p>There are some places to visit, see options to choose the boat.</p>
       </div>
       
    </div>
  </div>